Repository openai/codex, pull requests merged in 2025-07, with the labels that each got.

#1549 Add paste summarization to Codex TUI
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/app_event.rs
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__backspace_after_pastes.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__empty.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__large.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__multiple_pastes.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__small.snap
  codex-rs/tui/src/chatwidget.rs
Labels: codex

#1546 Improve SSE tests
  codex-rs/core/src/client.rs
  codex-rs/core/tests/fixtures/completed_template.json
  codex-rs/core/tests/fixtures/incomplete_sse.json
  codex-rs/core/tests/previous_response_id.rs
  codex-rs/core/tests/stream_no_completed.rs
  codex-rs/core/tests/test_support.rs
Labels: codex, codex-review-completed

#1541 Add SSE Response parser tests
  codex-rs/Cargo.lock
  codex-rs/core/Cargo.toml
  codex-rs/core/src/client.rs
Labels: codex

#1589 feat: ctrl-d only exits when there is no user input
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/bottom_pane/chat_composer_history.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/chatwidget.rs
Labels: codex-review-completed

#1599 Implement redraw debounce
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/app_event.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/status_indicator_widget.rs
Labels: codex

#1601 Refactor env settings into config
  codex-rs/config.md
  codex-rs/core/src/chat_completions.rs
  codex-rs/core/src/client.rs
  codex-rs/core/src/codex.rs
  codex-rs/core/src/config.rs
  codex-rs/core/src/flags.rs
  codex-rs/core/src/model_provider_info.rs
  codex-rs/core/tests/cli_stream.rs
  codex-rs/core/tests/client.rs
  codex-rs/core/tests/live_agent.rs
  codex-rs/core/tests/previous_response_id.rs
  codex-rs/core/tests/stream_no_completed.rs
Labels: codex

#1626 fix: use PR_SET_PDEATHSIG so to ensure child processes are killed in a timely manner
  codex-rs/Cargo.lock
  codex-rs/core/Cargo.toml
  codex-rs/core/src/exec.rs
Labels: codex-review-completed

#1668 feat: expand the set of commands that can be safely identified as "trusted"
  codex-rs/core/src/bash.rs
  codex-rs/core/src/is_safe_command.rs
  codex-rs/core/src/lib.rs
Labels: codex-review-completed

#1696 Fix approval workflow
  codex-rs/tui/src/bottom_pane/approval_modal_view.rs
  codex-rs/tui/src/bottom_pane/bottom_pane_view.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/user_approval_widget.rs
Labels: codex-review-completed

#1715 Mcp protocol
  codex-rs/Cargo.lock
  codex-rs/core/src/config_types.rs
  codex-rs/mcp-server/Cargo.toml
  codex-rs/mcp-server/src/lib.rs
  codex-rs/mcp-server/src/mcp_protocol.rs
Labels: codex-review-completed

#1744 chore: add support for a new label, codex-rust-review
  .github/codex/labels/codex-rust-review.md
  .github/workflows/codex.yml
Labels: codex-rust-review-completed

#1760 fix: ensure PatchApplyBeginEvent and PatchApplyEndEvent are dispatched reliably
  codex-rs/core/src/apply_patch.rs
  codex-rs/core/src/codex.rs
  codex-rs/core/src/safety.rs
Labels: codex-rust-review-completed

#1754 Fix double-scrolling in approval model
  codex-rs/tui/src/app.rs
Labels: codex-rust-review-completed
