Repository openai/codex, pull requests merged in 2025-08, with the labels that each got.

#1771 do not dispatch key releases
  codex-rs/tui/src/app.rs
Labels: codex-rust-review-in-progress

#1750 MCP Protocol: Align tool-call response with CallToolResult [Stack 1/3]
  codex-rs/mcp-server/src/mcp_protocol.rs
Labels: codex-rust-review-completed

#1751 MCP server: route structured tool-call requests and expose mcp_protocol [Stack 2/3]
  codex-rs/Cargo.lock
  codex-rs/mcp-server/src/lib.rs
  codex-rs/mcp-server/src/message_processor.rs
  codex-rs/mcp-server/tests/common/Cargo.toml
  codex-rs/mcp-server/tests/common/mcp_process.rs
Labels: codex-rust-review

#1527 Add /compact
  SUMMARY.md
  codex-rs/core/src/codex.rs
  codex-rs/core/src/conversation_history.rs
  codex-rs/core/src/protocol.rs
  codex-rs/core/tests/compact.rs
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/slash_command.rs
Labels: codex-rust-review-completed

#1784 Add Error variant to ConversationCreateResult [Stack 1/2]
  codex-rs/mcp-server/src/mcp_protocol.rs
Labels: codex-rust-review-completed

#1764 check for updates
  codex-cli/bin/codex.js
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/updates.rs
Labels: codex-rust-review-completed

#1794 custom textarea
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/bottom_pane/chat_composer_history.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/bottom_pane/textarea.rs
  codex-rs/tui/src/chatwidget.rs
Labels: codex-rust-review-completed

#1804 [sandbox] Filter out certain non-sandbox errors
  codex-rs/core/src/exec.rs
  codex-rs/core/src/lib.rs
  codex-rs/core/tests/exec.rs
Labels: codex-rust-review-completed

#1770 Add a TurnDiffTracker to create a unified diff for an entire turn
  codex-rs/Cargo.lock
  codex-rs/core/Cargo.toml
  codex-rs/core/src/codex.rs
  codex-rs/core/src/lib.rs
  codex-rs/core/src/protocol.rs
  codex-rs/core/src/turn_diff_tracker.rs
  codex-rs/exec/src/event_processor_with_human_output.rs
  codex-rs/mcp-server/src/codex_tool_runner.rs
  codex-rs/mcp-server/src/conversation_loop.rs
Labels: codex-rust-review-completed

#1853 [core] Stop escalating timeouts
  codex-rs/core/src/codex.rs
  codex-rs/core/src/exec.rs
Labels: codex-rust-review-completed

#1858 [core] Separate tools config from openai client
  codex-rs/core/src/chat_completions.rs
  codex-rs/core/src/client.rs
  codex-rs/core/src/client_common.rs
  codex-rs/core/src/codex.rs
  codex-rs/core/src/lib.rs
  codex-rs/core/src/openai_tools.rs
  codex-rs/core/src/plan_tool.rs
Labels: codex-rust-review-completed

#1871 tweak comment
  codex-rs/tui/src/tui.rs
Labels: codex

#1824 show a transient history cell for commands
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/history_cell.rs
Labels: codex-rust-review-completed

#1881 feat: update launch screen
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/slash_command.rs
Labels: codex-rust-review-completed

#1880 feat: interrupt running task on ctrl-z
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/chatwidget.rs
Labels: codex-rust-review-completed

#1892 Propagate apply_patch filesystem errors
  codex-rs/apply-patch/src/lib.rs
Labels: codex, codex-rust-review-completed

#1909 Show timing and token counts in status indicator
  codex-rs/tui/src/status_indicator_widget.rs
Labels: codex

#1907 Change the UI of apply patch
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/history_cell.rs
Labels: codex-rust-review-completed

#1908 Ensure exec command end always emitted
  codex-rs/core/src/codex.rs
  codex-rs/core/src/error.rs
Labels: codex, codex-rust-review-completed

#1919 feat: add /tmp by default
  codex-rs/common/src/sandbox_summary.rs
  codex-rs/config.md
  codex-rs/core/src/config.rs
  codex-rs/core/src/config_types.rs
  codex-rs/core/src/protocol.rs
  codex-rs/core/src/seatbelt.rs
  codex-rs/core/tests/sandbox.rs
  codex-rs/linux-sandbox/tests/landlock.rs
Labels: codex-rust-review-completed

#1923 feat: parse info from auth.json and show in /status
  codex-rs/Cargo.lock
  codex-rs/core/tests/client.rs
  codex-rs/login/Cargo.toml
  codex-rs/login/src/lib.rs
  codex-rs/login/src/token_data.rs
  codex-rs/tui/src/history_cell.rs
Labels: codex-rust-review-completed

#1917 Add spinner animation to TUI status indicator
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/status_indicator_widget.rs
Labels: codex

#1937 feat: /prompts slash command
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/slash_command.rs
Labels: codex

#1936 feat: improve output of /status
  codex-rs/tui/src/history_cell.rs
Labels: codex-rust-review-completed

#1920 Streaming markdown
  codex-rs/core/src/client.rs
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/app_event.rs
  codex-rs/tui/src/bottom_pane/live_ring_widget.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/chatwidget_stream_tests.rs
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/insert_history.rs
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/markdown.rs
  codex-rs/tui/src/markdown_stream.rs
  codex-rs/tui/tests/vt100_history.rs
  codex-rs/tui/tests/vt100_streaming_no_dup.rs
Labels: codex-rust-review-completed

#2018 Fix usage limit banner grammar
  codex-rs/core/src/error.rs
Labels: codex

#2053 [core] Allow resume after client errors
  codex-rs/core/src/codex.rs
  codex-rs/core/tests/common/lib.rs
  codex-rs/core/tests/stream_error_allows_next_turn.rs
Labels: codex-rust-review-completed

#2054 feat: allow esc to interrupt session
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/status_indicator_widget.rs
Labels: codex

#2049 Chores: Refactor approval Patch UI. Stack: [1/2]
  codex-rs/tui/src/diff_render.rs
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/lib.rs
Labels: codex-rust-review-completed

#2186 [apply-patch] Support applypatch command string
  codex-rs/apply-patch/src/lib.rs
Labels: codex-rust-review-completed

#2114 feat: add a /mention slash command
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/slash_command.rs
Labels: codex-rust-review-completed

#2198 fix: change the model used with the GitHub action from o3 to gpt-5
  .github/codex/home/config.toml
Labels: codex-rust-review-completed

#2189 [prompts] integration test prompt caching
  codex-rs/core/tests/prompt_caching.rs
Labels: codex-rust-review-completed

#2050 TUI: Show apply patch diff. Stack: [2/2]
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/common.rs
  codex-rs/tui/src/diff_render.rs
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/snapshots/codex_tui__diff_render__tests__add_details.snap
  codex-rs/tui/src/snapshots/codex_tui__diff_render__tests__update_details_with_rename.snap
  codex-rs/tui/src/snapshots/codex_tui__diff_render__tests__wrap_behavior_insert.snap
Labels: codex-rust-review

#2113 fix: update ctrl-z to suspend tui
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/chatwidget.rs
Labels: codex-rust-review-completed

#2260 feat(tui): add ctrl-b and ctrl-f shortcuts
  codex-rs/tui/src/bottom_pane/textarea.rs
Labels: codex

#2261 fix: remove behavioral prompting from update_plan tool def
  codex-rs/core/prompt.md
  codex-rs/core/src/plan_tool.rs
Labels: codex-rust-review-completed

#2243 [context] Store context messages in rollouts
  codex-rs/core/src/client_common.rs
  codex-rs/core/src/codex.rs
  codex-rs/core/src/config_types.rs
  codex-rs/core/src/environment_context.rs
  codex-rs/core/src/lib.rs
  codex-rs/core/tests/client.rs
  codex-rs/core/tests/prompt_caching.rs
Labels: codex-rust-review-completed

#2305 fix: parallelize logic in Session::new()
  codex-rs/core/src/codex.rs
Labels: codex-rust-review-completed

#1823 test(core): add seatbelt sem lock tests
  codex-rs/core/src/seatbelt.rs
Labels: codex

#2343 feat: introduce TurnContext
  codex-rs/core/src/apply_patch.rs
  codex-rs/core/src/client.rs
  codex-rs/core/src/codex.rs
Labels: codex-rust-review

#2326 Fix #2296 Add "minimal" reasoning effort for GPT 5 models
  codex-rs/core/src/client_common.rs
  codex-rs/core/src/config_types.rs
Labels: enhancement

#2245 Show progress indicator for /diff command
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/app_event.rs
  codex-rs/tui/src/bottom_pane/bottom_pane_view.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/bottom_pane/status_indicator_view.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/get_git_diff.rs
Labels: codex

#2373 Added MCP server command to enable authentication using ChatGPT
  codex-rs/Cargo.lock
  codex-rs/login/src/lib.rs
  codex-rs/login/src/server.rs
  codex-rs/login/tests/login_server_e2e.rs
  codex-rs/mcp-server/Cargo.toml
  codex-rs/mcp-server/src/codex_message_processor.rs
  codex-rs/mcp-server/src/wire_format.rs
Labels: codex-rust-review-completed

#2393 fix: async-ify login flow
  codex-rs/cli/src/login.rs
  codex-rs/login/src/server.rs
  codex-rs/login/tests/login_server_e2e.rs
  codex-rs/mcp-server/src/codex_message_processor.rs
  codex-rs/tui/src/onboarding/auth.rs
Labels: codex-rust-review

#2394 fix: change `shutdown_flag` from `Arc<AtomicBool>` to `tokio::sync::Notify`
  codex-rs/login/src/server.rs
  codex-rs/tui/src/onboarding/auth.rs
Labels: codex-rust-review

#2440 Show login options when not signed in with ChatGPT
  README.md
  codex-rs/chatgpt/src/chatgpt_token.rs
  codex-rs/cli/src/login.rs
  codex-rs/core/src/config.rs
  codex-rs/core/src/conversation_manager.rs
  codex-rs/core/tests/client.rs
  codex-rs/login/src/lib.rs
  codex-rs/login/src/token_data.rs
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/onboarding/auth.rs
  codex-rs/tui/src/onboarding/onboarding_screen.rs
Labels: codex-rust-review-completed

#2430 [tui] Support /mcp command
  codex-rs/core/src/codex.rs
  codex-rs/exec/src/event_processor_with_human_output.rs
  codex-rs/mcp-server/src/codex_tool_runner.rs
  codex-rs/protocol/src/protocol.rs
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/slash_command.rs
Labels: codex-rust-review-completed

#2442 Fix #2429 Tweak the cursor position after tab completion
  codex-rs/tui/src/bottom_pane/chat_composer.rs
Labels: bug

#2516 tui: link docs when no MCP servers configured
  codex-rs/tui/src/history_cell.rs
Labels: codex

#2571 [shell_tool] Small updates to ensure shell consistency
  codex-rs/core/src/models.rs
  codex-rs/core/src/openai_tools.rs
Labels: codex-rust-review-completed

#2539 [apply-patch] Clean up apply-patch tool definitions
  .prettierignore
  codex-rs/apply-patch/apply_patch_tool_instructions.md
  codex-rs/core/prompt.md
  codex-rs/core/src/client_common.rs
  codex-rs/core/src/openai_tools.rs
  codex-rs/core/tests/prompt_caching.rs
Labels: codex-rust-review-completed

#1695 ctrl+v image + @file accepts images
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/app.rs
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/bottom_pane/mod.rs
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/clipboard_paste.rs
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/tui.rs
Labels: codex-rust-review, codex-rust-review-completed

#2576 [apply_patch] freeform apply_patch tool
  codex-rs/core/src/chat_completions.rs
  codex-rs/core/src/client.rs
  codex-rs/core/src/client_common.rs
  codex-rs/core/src/codex.rs
  codex-rs/core/src/config.rs
  codex-rs/core/src/conversation_history.rs
  codex-rs/core/src/lib.rs
  codex-rs/core/src/model_family.rs
  codex-rs/core/src/models.rs
  codex-rs/core/src/openai_tools.rs
  codex-rs/core/src/rollout.rs
  codex-rs/core/src/tool_apply_patch.rs
  codex-rs/core/tests/prompt_caching.rs
  codex-rs/exec/tests/apply_patch.rs
Labels: codex-rust-review-completed

#2547 Fix flakiness in shell command approval test
  codex-rs/mcp-server/tests/codex_tool.rs
Labels: codex

#2518 Fix typo in AGENTS.md
  AGENTS.md
Labels: documentation

#2648 [exec] Clean up apply-patch tests
  codex-rs/exec/tests/fixtures/apply_patch_freeform_final.txt
  codex-rs/exec/tests/fixtures/sse_apply_patch_add.json
  codex-rs/exec/tests/fixtures/sse_apply_patch_freeform_add.json
  codex-rs/exec/tests/fixtures/sse_apply_patch_freeform_update.json
  codex-rs/exec/tests/fixtures/sse_apply_patch_update.json
  codex-rs/exec/tests/fixtures/sse_response_completed.json
  codex-rs/exec/tests/suite/apply_patch.rs
  codex-rs/exec/tests/suite/common.rs
  codex-rs/exec/tests/suite/mod.rs
Labels: codex-rust-review-completed

#2567 Copying / Dragging image files (MacOS Terminal + iTerm)
  codex-rs/Cargo.lock
  codex-rs/tui/Cargo.toml
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/clipboard_paste.rs
Labels: codex-rust-review-completed
