Repository openai/codex, pull requests merged in 2025-09, with the labels that each got.

#2651 [apply-patch] Fix lark grammar
  codex-rs/core/src/tool_apply_patch.lark
  codex-rs/core/src/tool_apply_patch.rs
Labels: codex-rust-review-completed

#2461 Improve gpt-oss compatibility
  codex-rs/core/src/chat_completions.rs
  codex-rs/core/src/client_common.rs
  codex-rs/core/src/lib.rs
  codex-rs/core/tests/chat_completions_payload.rs
  codex-rs/core/tests/chat_completions_sse.rs
Labels: bug

#3184 [BREAKING] Stop loading project .env files
  codex-rs/arg0/src/lib.rs
Labels: codex

#3467 Align user history message prefix width
  codex-rs/tui/src/bottom_pane/chat_composer.rs
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__backspace_after_pastes.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__empty.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__large.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__multiple_pastes.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__slash_popup_mo.snap
  codex-rs/tui/src/bottom_pane/snapshots/codex_tui__bottom_pane__chat_composer__tests__small.snap
  codex-rs/tui/src/chatwidget/snapshots/codex_tui__chatwidget__tests__chat_small_running_h2.snap
  codex-rs/tui/src/chatwidget/snapshots/codex_tui__chatwidget__tests__chatwidget_exec_and_status_layout_vt100_snapshot.snap
  codex-rs/tui/src/chatwidget/snapshots/codex_tui__chatwidget__tests__status_widget_active.snap
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__user_history_cell_wraps_and_prefixes_each_line_snapshot.snap
  codex-rs/tui/src/snapshots/codex_tui__status_indicator_widget__tests__renders_truncated.snap
  codex-rs/tui/src/snapshots/codex_tui__status_indicator_widget__tests__renders_with_queued_messages.snap
  codex-rs/tui/src/snapshots/codex_tui__status_indicator_widget__tests__renders_with_working_header.snap
  codex-rs/tui/src/status_indicator_widget.rs
  codex-rs/tui/src/ui_consts.rs
Labels: codex

#4113 Show exec output on success with trimmed display
  codex-rs/tui/src/chatwidget.rs
  codex-rs/tui/src/chatwidget/snapshots/codex_tui__chatwidget__tests__binary_size_ideal_response.snap
  codex-rs/tui/src/exec_cell/mod.rs
  codex-rs/tui/src/exec_cell/model.rs
  codex-rs/tui/src/exec_cell/render.rs
  codex-rs/tui/src/history_cell.rs
  codex-rs/tui/src/lib.rs
  codex-rs/tui/src/pager_overlay.rs
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__multiline_command_both_lines_wrap_with_correct_prefixes.snap
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__multiline_command_without_wrap_uses_branch_then_eight_spaces.snap
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__multiline_command_wraps_with_extra_indent_on_subsequent_lines.snap
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__ran_cell_multiline_with_stderr_snapshot.snap
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__single_line_command_wraps_with_four_space_continuation.snap
  codex-rs/tui/src/snapshots/codex_tui__history_cell__tests__stderr_tail_more_than_five_lines_snapshot.snap
Labels: codex

#2677 [mcp-server] Expose fuzzy file search in MCP
  codex-rs/Cargo.lock
  codex-rs/file-search/src/lib.rs
  codex-rs/mcp-server/Cargo.toml
  codex-rs/mcp-server/src/codex_message_processor.rs
  codex-rs/mcp-server/src/fuzzy_file_search.rs
  codex-rs/mcp-server/src/lib.rs
  codex-rs/mcp-server/tests/common/mcp_process.rs
  codex-rs/mcp-server/tests/suite/fuzzy_file_search.rs
  codex-rs/mcp-server/tests/suite/mod.rs
  codex-rs/protocol-ts/src/lib.rs
  codex-rs/protocol/src/mcp_protocol.rs
Labels: codex-rust-review-completed
